*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: rgb(43, 163, 43);
}

ul {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    border: none;
    margin: 0!important;
    outline: none;
    color: black ;
}
input:focus{
    outline: none;
}
textarea{
resize: none;
height: 100px;
}
textarea:focus{
outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* home start  */
.p-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.navbar a{
    cursor: pointer;
}
.navbar .btns a {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 3px;
    color: var(--main-color);
}
.navbar .btns a:hover {
    background-color: var(--main-color);
    color: white;
}
.list a:hover {
    color: var(--main-color) !important;
}
.post-container {
    max-width: 600px !important;
}
.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-img img{
    width: 100%;
    max-height: 300px;
}
.add-post {
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: white;
    font-size: 30px;
    position: fixed;
    right: 5%;
    bottom: 3%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 70px;
    color: #51e15a;
    padding: 6px 12px;
    cursor: pointer;
}
.modal-btns {
    position: relative;
    left: 69%;
}
@media (max-width : 600px){
    .modal-btns {
        left: 54%;
    }
}
.alert-h {
    position: fixed;
    right: 5%;
    bottom: 10%;
}
.comment{
    background: none;
}
.comment-btn {
    cursor: pointer;
}
.action-list{
    right: 20px;
    bottom: -73px;
    background-color: gainsboro;
}
.action-btn{
    cursor: pointer;
}

/* home end  */

/* login&logout start */
.logo {
    cursor:default;
}
/* login&logout end */

/* profile start */
.prof-pic {
    width: 70px;
    height: 70px;
}
/* profile end  */